[user]
    name = Dennis Heibült
    email = dennis@csshugs.com
[alias]
    co = checkout
    c = commit
    s = status
    b = branch
[push]
    default = matching
[color]
    ui = true
[credential]
    helper = cache --timeout=3600
[merge]
    tool = sublimerge
[mergetool "sublimerge"]
    cmd = sublime -n --wait \"$REMOTE\" \"$BASE\" \"$LOCAL\" \"$MERGED\" --command \"sublimerge_diff_views\"
    trustExitCode = false
    keepBackup = false
[core]
    editor = vim
