[user]
    name = Dennis Heibült
    email = mail@dennisheibuelt.com
    signingkey = 437D74554D7E684AD8131480646160EEB22C1686
[alias]
    poop = stash pop
    schmu = blame
    co = checkout
    b = branch
    stats = shortlog -sn --all --no-merges
    lg = log --pretty=oneline --abbrev-commit --graph --decorate
[push]
    default = matching
[color]
    ui = true
[credential]
    helper = cache --timeout=3600
[core]
    editor = vim
    excludesfile = /Users/dheibuelt/.gitignore_global
[merge]
	tool = Kaleidoscope
    conflictstyle = diff3
[mergetool "vimdiff"]
    prompt = false
[diff]
	tool = Kaleidoscope
[gpg]
    program = /usr/local/bin/gpg
[commit]
    gpgsign = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[init]
	defaultBranch = main
