[user]
    name = Dennis Heibült
    email = dennis@csshugs.com
[merge]
    tool = sublimerge
[alias]
    co = checkout
    c = commit
    s = status
    b = branch
[push]
    default = matching
[mergetool "sublimerge"]
    cmd = sublime -n --wait \"$REMOTE\" \"$BASE\" \"$LOCAL\" \"$MERGED\" --command \"sublimerge_diff_views\"
    trustExitCode = false
    keepBackup = false
[diff]
    tool = sublimerge
[difftool "sublimerge"]
    cmd = sublime -n --wait \"$REMOTE\" \"$LOCAL\" --command \"sublimerge_diff_views {\\\"left_read_only\\\": true, \\\"right_read_only\\\": true}\"
[credential]
    helper = cache --timeout=3600
[color]
	ui = true
